nav {
  padding: 0.7rem 0.3rem;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  justify-content: flex-start;
}

nav .menu {
  margin-right: 1rem;
}
