.container-fluid {
display: flex;
padding: 1.5rem 0;
flex-direction: column;
align-items: center;
justify-content: center;
}

.wrapper {
  padding: 2rem 1rem;
  margin: 0 4.0625rem 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 30rem;
  font-family: 'Open Sans', sans-serif;
  background: #aee4dd;
  color: #fff;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.wrapper img {
  width: 8.5rem;
  height: 8.5rem;
}

.wrapper .city {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
}

.wrapper .weather {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-transform: capitalize;
}

.city-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.city-form small {
  font-size: 0.8rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.city-form button {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;

}

.city-input {
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
