<main>
  <div class="cityInput">
    <div class="form-group">
      <div>
        <input type="text" class="form-control" ngModel name="city" aria-describedby="cityHelp" placeholder="Digite o nome da cidade">
        <small id="cityHelp" class="form-text text-muted">Digite o nome da cidade a qual deseja saber a previsão para os próximos dias.</small>
      </div>
      <button type="submit" name="find-button" class="btn btn-primary btn-lg btn-block">Pesquisar</button>
    </div>
  </div>
  <div class="container-fluid">
      <div *ngFor="let day of [1,2,3,4,5] "  class="card" id="card-wrapper">
        <div class="card-body" id="body-card">
          <h2 class="weather">{{myForecastWeather.data}}</h2>
          <h2 class="weather">{{myForecastWeather.tipoClima}}</h2>
          <div class="img">
            <img src={{myForecastWeather.imageClimaURI}} alt="Clima">
          </div>
          <h3 class="temp">{{myForecastWeather.temp}}° C</h3>
          <h4 class= "variation">Mínima: <span>{{myForecastWeather.tempMinima}}° C</span></h4>
          <h4 class= "variation">Máxima: <span>{{myForecastWeather.tempMaxima}}° C</span></h4>
        </div>
      </div>
    </div>
    <footer>
      <p>My Weather Advisor - &copy; 2021 - Luiz Nunes</p>
    </footer>
</main>
