<main>
  <div class="cityInput">
    <div class="form-group">
      <form class="city-form" (ngSubmit)="OnSubmit(form)" #form="ngForm">
        <input type="text" class="form-control" ngModel name="city" aria-describedby="cityHelp" placeholder="Digite o nome da cidade">
        <small id="cityHelp" class="form-text text-muted">Digite o nome da cidade a qual deseja saber a previsão para os próximos dias.</small>
        <button type="submit" name="find-button" class="btn btn-primary btn-lg btn-block">Pesquisar</button>
      </form>
    </div>
  </div>
  <div class="container-fluid">
      <div *ngFor="let day of myForecastWeather "  class="card" id="card-wrapper">
        <div class="card-body" id="body-card">
          <h2 class="weather">{{day.data}}</h2>
          <h2 class="weather">{{day.tipoClima}}</h2>
          <div class="img">
            <img src={{day.imageClimaURI}} alt="Clima">
          </div>
          <h3 class="temp">{{day.temp}}° C</h3>
          <h4 class= "variation">Mínima: <span>{{day.tempMinima}}° C</span></h4>
          <h4 class= "variation">Máxima: <span>{{day.tempMaxima}}° C</span></h4>
        </div>
      </div>
    </div>
    <footer>
      <p>My Weather Advisor - &copy; 2021 - Luiz Nunes</p>
    </footer>
</main>
